apiVersion: apps/v1
kind: Deployment
metadata:
  name: churn-api
  namespace: churn-mlops
  labels:
    app: churn-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: churn-api
  template:
    metadata:
      labels:
        app: churn-api
    spec:
      initContainers:
        - name: init-dirs
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              mkdir -p /pvc/data /pvc/data/predictions
              mkdir -p /pvc/artifacts /pvc/artifacts/models /pvc/artifacts/metrics
          volumeMounts:
            - name: mlops-storage
              mountPath: /pvc
      containers:
        - name: churn-api
          image: techitfactory/churn-api:main
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: CHURN_MLOPS_CONFIG
              value: /app/config/config.yaml
          volumeMounts:
            - name: mlops-storage
              mountPath: /app/data
              subPath: data
            - name: mlops-storage
              mountPath: /app/artifacts
              subPath: artifacts
            - name: config
              mountPath: /app/config/config.yaml
              subPath: config.yaml
          livenessProbe:
            httpGet:
              path: /live
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: mlops-storage
          persistentVolumeClaim:
            claimName: churn-mlops-pvc
        - name: config
          configMap:
            name: churn-mlops-config
