apiVersion: batch/v1
kind: CronJob
metadata:
  name: churn-batch-score-proxy-daily
  namespace: churn-mlops
spec:
  schedule: "0 2 * * *"
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2

  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never

          initContainers:
            - name: init-dirs
              image: busybox:1.36
              command: ["sh", "-c", "mkdir -p /pvc/data /pvc/artifacts"]
              volumeMounts:
                - name: mlops-storage
                  mountPath: /pvc

          containers:
            - name: churn-batch
              image: techitfactory/churn-ml:0.1.2
              imagePullPolicy: IfNotPresent

              env:
                - name: CHURN_MLOPS_CONFIG
                  value: /app/config/config.yaml

              command: ["sh", "-c"]
              args:
                - |
                  cd /app
                  ./scripts/run_batch_score_and_proxy.sh

              volumeMounts:
                - name: mlops-storage
                  mountPath: /app/data
                  subPath: data
                - name: mlops-storage
                  mountPath: /app/artifacts
                  subPath: artifacts
                - name: config
                  mountPath: /app/config/config.yaml
                  subPath: config.yaml

          volumes:
            - name: mlops-storage
              persistentVolumeClaim:
                claimName: churn-mlops-pvc
            - name: config
              configMap:
                name: churn-mlops-config
