apiVersion: batch/v1
kind: CronJob
metadata:
  name: churn-retrain-weekly
  namespace: churn-mlops
spec:
  schedule: "0 3 * * 0" # Sundays 03:00
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          serviceAccountName: mlflow-sa
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            fsGroup: 0
          restartPolicy: Never
          initContainers:
            - name: init-dirs
              image: busybox:1.36
              command: ["sh", "-c", "mkdir -p /pvc/data /pvc/artifacts"]
              volumeMounts:
                - name: mlops-storage
                  mountPath: /pvc
          containers:
            - name: retrain
              image: techitfactory/churn-ml:sha-d62341e
              imagePullPolicy: IfNotPresent
              env:
                - name: CHURN_MLOPS_CONFIG
                  value: /app/config/config.yaml
                - name: MLFLOW_TRACKING_URI
                  value: http://mlflow.churn-mlops.svc.cluster.local:5000
                - name: MLFLOW_S3_ENDPOINT_URL
                  value: ""
                - name: MLFLOW_EXPERIMENT_NAME
                  value: churn
              command: ["sh", "-c"]
              args:
                - |
                  set -e

                  # 1) Run the full pipeline reproducibly
                  dvc repro

                  # 2) Persist outputs to DVC remote (S3/MinIO/etc)
                  dvc push
              volumeMounts:
                - name: mlops-storage
                  mountPath: /app/data
                  subPath: data
                - name: mlops-storage
                  mountPath: /app/artifacts
                  subPath: artifacts
                - name: config
                  mountPath: /app/config/config.yaml
                  subPath: config.yaml
          volumes:
            - name: config
              configMap:
                name: churn-mlops-config
            - name: mlops-storage
              persistentVolumeClaim:
                claimName: churn-mlops-pvc
