apiVersion: batch/v1
kind: CronJob
metadata:
  name: churn-retrain-weekly
  namespace: churn-mlops
spec:
  schedule: "0 3 * * 0" # Sundays 03:00
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            fsGroup: 0
          restartPolicy: Never
          initContainers:
            - name: init-dirs
              image: busybox:1.36
              command: ["sh", "-c", "mkdir -p /pvc/data /pvc/artifacts"]
              volumeMounts:
                - name: mlops-storage
                  mountPath: /pvc
          containers:
            - name: retrain
              image: techitfactory/churn-ml:main
              imagePullPolicy: IfNotPresent
              env:
                - name: CHURN_MLOPS_CONFIG
                  value: /app/config/config.yaml
              command: ["sh", "-c"]
              args:
                - |
                  set -e
                  python -m churn_mlops.data.generate_synthetic
                  python -m churn_mlops.data.validate
                  python -m churn_mlops.data.prepare_dataset
                  python -m churn_mlops.features.build_features
                  python -m churn_mlops.training.build_labels
                  python -m churn_mlops.training.build_training_set
                  python -m churn_mlops.training.train_baseline

                  LATEST_MODEL=$(ls -1 /app/artifacts/models/baseline_logreg_*.joblib | tail -n 1)
                  echo "Promoting: $LATEST_MODEL"
                  cp "$LATEST_MODEL" /app/artifacts/models/production_latest.joblib
              volumeMounts:
                - name: mlops-storage
                  mountPath: /app/data
                  subPath: data
                - name: mlops-storage
                  mountPath: /app/artifacts
                  subPath: artifacts
                - name: config
                  mountPath: /app/config/config.yaml
                  subPath: config.yaml
          volumes:
            - name: config
              configMap:
                name: churn-mlops-config
            - name: mlops-storage
              persistentVolumeClaim:
                claimName: churn-mlops-pvc
