apiVersion: v1
kind: Service
metadata:
  name: churn-api
  namespace: churn-mlops
spec:
  selector:
    app: churn-api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  type: ClusterIP
