apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  labels:
    app: churn-api
    {{- include "churn-mlops.labels" . | nindent 4 }}
spec:
  selector:
    app: churn-api
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
